################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassesAndExceptions/v17/.suo
/Tutorial/Tutorial/obj/Release/net5.0
/Tutorial/Tutorial/obj
/Tutorial/Tutorial/bin/Debug/net5.0
/Tutorial/.vs/Tutorial
/Tutorial/.vs/ProjectEvaluation
/.vs
